<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarvesh.i_turnout">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student" />
        <activity android:name=".Moderator.Admin" />
        <activity android:name=".Teacher.Teacher" />
        <activity android:name=".Home" />
        <activity android:name=".Moderator.StudentDetails"
            android:theme="@style/customTheme"
           android:label="Student Details"
            android:parentActivityName=".Moderator.Admin"/>
        <activity android:name=".Teacher.TeacherDetails"
            android:theme="@style/customTheme"
            android:parentActivityName=".Moderator.Admin"
            android:label="Teacher Details"/>
        <activity android:name=".Moderator.CourseDetails"
            android:theme="@style/customTheme"
            android:parentActivityName=".Moderator.Admin"
            android:label="Course Details"/>
        <activity android:name=".StudentEnrollment"
            android:theme="@style/customTheme"
            android:parentActivityName=".Moderator.Admin"
            android:label="Course Enrollment"/>
        <activity android:name=".ChangePassword"
            android:theme="@style/customTheme"
            android:label="Change Password"
            android:parentActivityName=".Student"/>
        <activity android:name=".Query"
            android:theme="@style/customTheme"
            android:label="Query"
            android:parentActivityName=".ViewNotification"/>
        <activity android:name=".AssignedCourses" />
        <activity android:name=".CheckAttendance" />
        <activity android:name=".Teacher.TViewCourses"
            android:theme="@style/customTheme"
            android:parentActivityName=".Teacher.TViewAttendance"/>
        <activity android:name=".Teacher.TCheckAttendance" />
        <activity android:name=".ViewEnrollStudent" />
        <activity android:name=".CheckAttByStudent" />
        <activity android:name=".AttendanceInPerticuSubject" />
        <activity android:name=".CheckEnrollStudentInParticulerSubject" />
        <activity android:name=".MakeAttByTeacher"
            android:label="Student Details"
            android:theme="@style/customTheme"
            android:parentActivityName=".Teacher.TViewAttendance"/>
        <activity android:name=".ViewNotification"
            android:theme="@style/customTheme"
            android:label="Notification"
            android:parentActivityName=".Student"/>
        <activity android:name=".DispNotification"
           />
        <activity android:name=".Teacher.TViewNotification"
            android:theme="@style/customTheme"
            android:parentActivityName=".Teacher.Teacher"
            android:label="Notification"/>
        <activity android:name=".Teacher.TDispNotification"
            android:theme="@style/customTheme"
            android:label="Notification"
            android:parentActivityName=".Teacher.Teacher"/>
        <activity android:name=".Moderator.DeleteUser"
            android:theme="@style/customTheme"
            android:parentActivityName=".Moderator.Admin"
            android:label="Delete Records"/>
        <activity android:name=".Teacher.TViewAttendance"
            android:label="Subject Details"
            android:theme="@style/customTheme"
            android:parentActivityName=".Teacher.Teacher"/>

    </application>

</manifest>