<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarvesh.i_turnout">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student" />
        <activity android:name=".Moderator.Admin" />
        <activity android:name=".Teacher.Teacher" />
        <activity android:name=".Home" />
        <activity
            android:name=".Moderator.StudentDetails"
            android:label="Student Details"
            android:parentActivityName=".Moderator.Admin"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TeacherDetails"
            android:label="Teacher Details"
            android:parentActivityName=".Moderator.Admin"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Moderator.CourseDetails"
            android:label="Course Details"
            android:parentActivityName=".Moderator.Admin"
            android:theme="@style/customTheme" />
        <activity
            android:name=".StudentEnrollment"
            android:label="Course Enrollment"
            android:parentActivityName=".Moderator.Admin"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:parentActivityName=".Student"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Query"
            android:label="Query"
            android:parentActivityName=".ViewNotification"
            android:theme="@style/customTheme" />
        <activity
            android:name=".AssignedCourses"
            android:label="Subject Details"
            android:parentActivityName=".Teacher.Teacher"
            android:theme="@style/customTheme" />
        <activity
            android:name=".CheckAttendance"
            android:label="Subject Details"
            android:parentActivityName=".Student"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TViewCourses"
            android:parentActivityName=".Teacher.TViewAttendance"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TCheckAttendance"
            android:parentActivityName=".Teacher.Teacher"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ViewEnrollStudent"
            android:label="Subject Details"
            android:parentActivityName=".Student"
            android:theme="@style/customTheme" />
        <activity
            android:name=".CheckAttByStudent"
            android:label="Subject Details"
            android:parentActivityName=".Student"
            android:theme="@style/customTheme" />
        <activity
            android:name=".AttendanceInPerticuSubject"
            android:label="Check Attendance Details"
            android:parentActivityName=".CheckAttendance"
            android:theme="@style/customTheme" />
        <activity
            android:name=".CheckEnrollStudentInParticulerSubject"
            android:label="Student Details"
            android:parentActivityName=".Teacher.TViewAttendance"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ViewNotification"
            android:label="Notification"
            android:parentActivityName=".Student"
            android:theme="@style/customTheme" />
        <activity
            android:name=".DispNotification"
            android:label="Notification"
            android:parentActivityName=".ViewNotification"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TViewNotification"
            android:label="Notification"
            android:parentActivityName=".Teacher.Teacher"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TDispNotification"
            android:label="Notification"
            android:parentActivityName=".Teacher.TViewNotification"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Moderator.DeleteUser"
            android:label="Delete Records"
            android:parentActivityName=".Moderator.Admin"
            android:theme="@style/customTheme" />
        <activity
            android:name=".Teacher.TViewAttendance"
            android:label="Subject Details"
            android:parentActivityName=".Teacher.Teacher"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ViewStudentDetailsByTeacher"
            android:label="Student Details"
            android:parentActivityName=".ViewStudentDetailsByTeacher"
            android:theme="@style/customTheme" />
        <activity android:name=".MakeAttendance"
            android:label="Make Attendance"
            android:theme="@style/customTheme"
            android:parentActivityName=".AssignedCourses"></activity>
    </application>

</manifest>